body {
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
}

h1 {
  padding: 20px;
  background-color: #FE2C13;
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.2em;
}

input {
  margin: 25px 0 25px 0;
}

input[type=submit] {
  position: relative;
  background-image: url(https://tf-assets-prod.s3.amazonaws.com/tf-curric/WEB-DEV-001/2.4.6_challenge_design_to_code/magnifying-glass.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  border: 1px solid #A9A9A9;
  border-radius: 4px;
}

li {
  margin: auto;
  list-style: none;
  width: 45%
}

img {
  margin: 15px 0 15px 0;
}

footer {
  margin: 20px;
  font-size: 0.8em;
}